.back {
    background-attachment: fixed;
    background-size: cover;
    background-image: url(img.jpeg);
    height: 100vh;
    align-items: flex-end;
}
.styl {
    background-color:rgb(0,0,0, 0.5);
}
#type-text {
    font-size: 2rem;
}