body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 100vh;
  background-color: rgb(44, 40, 40);
}
.left {
  float: left;
  padding-left: 30px;
}
.right {
  float: right;
  margin-right: 30px;
}
li {
  list-style-type: none;
  padding-right: 20px;
  display: inline-block;
}
li a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.sign {
  color: white;
  background-color: rgba(236, 37, 120, 0.925);
  padding: 10px;
  font-size: 16px;
  border: 0;
}
.main {
  padding: 400px 0;
  text-align: center;
  color: white;
}

.i {
  width: 100%;
  text-align: center;
  padding-top: 380px;
}
#i {
  color: white;
  font-size: 20px;
}

/* div vtor  */
.clear {
  clear: both;
}

.second {
  width: 100%;
  background-image: url(picture1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}
.inner {
  width: 100%;
}
.left1 {
  width: 33.33%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 150px 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 4px solid pink;
}
.mid2 {
  width: 33.33%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 137px 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 4px solid pink;
}
.right3 {
  width: 33.33%;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  padding: 153px 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 4px solid pink;
}

/* tret div  */

.third {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(picture2.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.red-car {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-left: 4px solid blue;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  bottom: 0;
  left: 70%;
}

.h2 {
  padding-top: 150px;
  margin: 50px 80px;
  font-size: 20px;
}
.p {
  margin: 50px 80px;
  font-size: 20px;
}
.form {
  margin: 80px 80px;
}
.button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  transition: border 0.3 ease-out;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: green;
}
/* div cetvrt  */

.fourth {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(picture3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.red-car2 {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-right: 4px solid green;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  bottom: 0;
  right: 70%;
}

.h2 {
  padding-top: 150px;
  margin: 50px 80px;
  font-size: 20px;
}
.p {
  margin: 50px 80px;
  font-size: 20px;
}
.form {
  margin: 80px 80px;
}
.button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  transition: border 0.3 ease-out;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: green;
}

/* div pet  */

.fifth {
  width: 100%;
  height: 120vh;
  position: relative;
  background-color: rgb(44, 40, 40);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.child {
  width: 100%;
  background-color: rgb(44, 40, 40);
  color: white;
  text-align: center;
}
.naslov {
  margin-top: 0;
  margin-bottom: 0;
  padding: 70px;
}

.border {
  border-bottom: 2px solid pink;
  margin-right: 450px;
  margin-left: 450px;
  padding: 70px;
}
.card {
  width: 100%;
  height: 30vh;
}

.box {
  width: 33.33%;
  height: 20vh;
  float: left;
  color: white;
  text-align: center;
  padding-top: 70px;
}

.box i {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  font-size: 35px;
}
.box2 i {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  font-size: 35px;
}
.card2 {
  width: 100%;
  height: 30vh;
}

.box2 {
  width: 33.33%;
  height: 20vh;
  float: left;
  color: white;
  text-align: center;
  padding-top: 70px;
}

.inp {
  border-radius: 50%;
  padding: 40px;
  font-size: 30px;
  color: white;
  background-color: rgb(45, 65, 60);
}
.magna {
  width: 100%;
  height: 20vh;
  padding-top: 90px;
  text-align: center;
}

/* div sest  */

.six {
  width: 100%;
  height: 30vh;
  background-color: rgba(236, 37, 120, 0.925);
  color: white;
  text-align: center;
  font-size: 20px;
}

h3 {
  color: white;
  margin: 0 auto;
  padding-top: 60px;
  text-transform: uppercase;
}

.in {
  background-color: violet;
  border-color: white;
  border: 2px solid white;
  transition: border 0.3 ease-out;
  padding: 10px 15px;
}

.in:hover {
  border-color: turquoise;
}

.but {
  color: rgba(236, 37, 120, 0.925);
  padding: 10px 15px;
}
.but a {
  color: rgba(236, 37, 120, 0.925);
  text-decoration: none;
}

/* div sedum  */

.seven {
  width: 100%;
  height: 20vh;
  background-color: rgb(44, 40, 40);
}
.icon {
  width: 100%;
  font-size: 30px;
}
.made {
  width: 100%;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 20px;
}
.ikoni {
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 50px;
}
span a {
  color: white;
}
