body {
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
}
.menu {
  width: 80%;
  margin: 0 auto;
}
.parent {
  display: flex;
  justify-content: space-between;
}
.parent1 {
  position: relative;
  transition: 0.4 ease-out;
}
.menu-but {
  display: none;
}
.submenu,
.submenu2,
.submenu3 {
  display: none;
  position: absolute;
  background: #fff;
  left: 0px;
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.right li {
  display: inline-block;
  position: relative;
}
.submenu li {
  display: block;
}
ul li:hover ul {
  display: block;
}
.left p a {
  font-weight: bold;
  color: rgb(48, 47, 47);
  font-size: 20px;
}
a {
  list-style-type: none;
  color: rgb(48, 47, 47);
  text-decoration: none;
  font-size: 12px;
}
/* --------------------------------- */
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 246, 246);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  height: calc(100vh - 54px);
}
.h1 {
  margin-bottom: 20px;
  font-size: 22px;
}
.but {
  margin: 25px 0;
  background-color: black;
  color: white;
  padding: 15px 20px;
  cursor: pointer;
}
.main {
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}

/* second  */
.second {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  color: white;
  width: 80%;
}
.box,
.box2,
.box3,
.box4 {
  flex-basis: 20%;
  padding: 30px 0;
}
.box {
  background-color: rgb(255, 84, 68);
}
.box2 {
  background-color: rgb(170, 45, 182);
}
.box3 {
  background-color: rgb(30, 194, 164);
}
.box4 {
  background-color: rgb(39, 139, 224);
}

/* third  */

.third {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(246, 246, 246);
  padding-top: 50px;
}
.section2-head {
  display: flex;
  justify-content: center;
}
.section2-head .head-inner .section-5 {
  flex-basis: 20%;
}
.head-inner h2 {
  color: black;
  text-align: center;
  padding-bottom: 20px;
}
.head-inner .fixed {
  background-color: black;
  color: white;
  cursor: unset;
}
.head-inner button {
  font-family: "Ubuntu Mono", monospace;
  cursor: pointer;
  background-color: rgb(246, 246, 246);
  padding: 5px 15px;
  border-radius: 4px;
  transition: background-color 0.2 ease-out;
  margin-top: 5px;
  box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, 0.3);
}
.head-inner button:hover {
  background-color: rgb(45, 45, 45);
  color: white;
}

.innerimg {
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
}
.card-up {
  width: 70%;
  margin: 0 auto;
  padding-top: 80px;
}
.card {
  flex-basis: 25%;
  position: relative;
  box-shadow: -1px 10px 23px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid transparent;
  transition: border 0.3s ease-out;
}
.card:hover {
  cursor: pointer;
  border-color: black;
}

.incard p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  background-color: white;
  margin-bottom: 0;
}

.card-down {
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 80px;
}

.innerimg img {
  width: 100%;
}
.innerimg2 img {
  width: 100%;
}
.incard p {
  padding: 25px 0;
}
.incard2 p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  background-color: white;
  margin-bottom: 0;
  padding: 25px 0;
}
.incard3 p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  background-color: white;
  margin-bottom: 0;
  padding: 25px 0;
}

.incard4 p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  background-color: white;
  margin-bottom: 0;
  padding: 25px 0;
}
.incard5 p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  background-color: white;
  margin-bottom: 0;
  padding: 25px 0;
}
.incard6 p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  background-color: white;
  margin-bottom: 0;
  padding: 25px 0;
}

.innerimg2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
}

/* fourth  */

.fourth {
  margin: 0 auto;
  margin: 50px 0;
}
.fourth-in {
  text-align: center;
}

.border {
  width: 7%;
  margin: 0 auto;
  padding: 40px 0;
}

.arow {
  margin: 0 auto;
}
.arowin {
  margin: 0 auto;
  display: flex;
  font-size: 18px;
  width: 80%;
}
.arrow-in {
  flex-basis: 33.333%;
}

.arrow-in1 {
  flex-basis: 33.333%;
}
.arrow-in2 {
  flex-basis: 33.333%;
}
.list-style li {
  list-style-image: url(arrow.png);
  padding-bottom: 20px;
}

/* five  */
.section5 {
  background-color: #464646;
  text-align: center;
  padding: 50px 0;
}
.section5-inner {
  color: white;
}
.social a {
  color: white;
  font-size: 25px;
  transition: color 0.3 ease-out;
}
.social a:hover {
  color: rgb(45, 45, 45);
}

/* sest  */
.six {
  margin: 0 auto;
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 10px 50px;
}
.six-in {
  display: flex;
}
.copy {
  flex-basis: 50%;
}

.create {
  flex-basis: 50%;
}
.create p {
  text-align: right;
}

@media (max-width: 425px) {
  .right ul {
    display: none;
  }
  .menu-but {
    position: relative;
    justify-content: right;
    align-items: center;
    display: flex;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .menu-burger {
    width: 30px;
    height: 4px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    background: black;
  }

  .menu-burger::before,
  .menu-burger::after {
    position: absolute;
    content: " ";
    width: 30px;
    height: 4px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    background: black;
  }

  .menu-burger::before {
    transform: translateY(-10px);
  }
  .menu-burger::after {
    transform: translateY(10px);
  }

  .inner {
    width: 70%;
  }
  .second {
    flex-direction: column;
  }
  .box,
  .box2,
  .box3,
  .box4 {
    margin-bottom: 25px;
  }
  .three {
    display: block;
  }
  .section-5 {
    width: 80%;
    text-align: center;
    padding-left: 50px;
  }
  .innerimg,
  .innerimg2 {
    padding: 0 30px;
    width: 80%;
    flex-direction: column;
  }
  .card,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6 {
    margin-bottom: 20px;
  }
  .card-down {
    padding: 0;
  }
  .fourth {
    margin-top: 50px;
  }
  .arow {
    width: 90%;
    margin-left: 20px;
  }
  .arowin {
    font-size: 20px;
  }
  .arrow-in2 {
    display: none;
  }
  .six {
    font-size: 6px;
    padding: 10px 25px;
  }
}
